@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Bitcount+Ink:wght@100..900&family=Black+Ops+One&family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Pliant:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
}
a{
    text-decoration: none;
    color: white;
}
button:hover{
    cursor: pointer;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.white{
    color: white;
}
.blue{
    color: rgb(53, 156, 204);
}
.grey{
    color: grey;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
body{
    height: auto;
    display: flex;
}
.sidebar{
    width: 15vw;
    background-color: #0F0F0F;
    height: 100vh;
}
.sidebar .fixed-icons{
    display: flex;
    gap: 1vw;
    padding: 1vh 1vw 1vh 1.38vw;
    height: 6vh;
}
.sidebar .fixed-icons a svg{
    padding-top: 1vh;
    width:1.6vw;
    color: white;
}
.sidebar .fixed-icons  img{
    width: 8vw;
}
.sidebar .scroll-icons{
    height: 91.89vh;
    overflow-y: scroll;
}
.sidebar .scroll-icons::-webkit-scrollbar{
    width: 0.4rem;
}
.sidebar .scroll-icons::-webkit-scrollbar-track{
    background-color: #0F0F0F;
}
.sidebar .scroll-icons::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 28px;
}
.sidebar .scroll-icons .home{
    padding: 2vh 0.2vw 3vh 1.4vw;
    gap: 2vh;
    border-bottom: 0.5px solid rgb(80, 80, 80);
    color: white;
    font-size: 0.88rem;
}
.sidebar .scroll-icons .home .content{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}
.sidebar .scroll-icons .home .content .icons{
    width: 1.8vw;
    height: 1.8vh;
    color: white;
}
.sidebar .scroll-icons .home .content img{
    height: 3vh;
    border-radius: 50%;
}
.sidebar .scroll-icons .links{
    gap: 2vh;
    font-size: 0.84rem;
    color: grey;
    padding: 2vh 1vw 1.4vh 1vw;
}
.sidebar .scroll-icons .links a{
    color: rgb(190, 188, 188);
    font-weight: 500;
}
.sidebar .scroll-icons .links .child{
    display: flex;
    gap: 0.8vw;
}
.sidebar .scroll-icons .links .primary,.privacy{
    gap:0.4vh;
}
main{
    width: 85vw;
    height: 100vh;
    background-color: #0F0F0F;
    overflow-y: scroll;
}
main::-webkit-scrollbar{
    width: 0.4rem;
}
main::-webkit-scrollbar-track{
    background-color: #0F0F0F;
}
main::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 28px;
}
.fixer{
    position: fixed;
    height: 8vh;
    z-index: 100;
     background-color: #0F0F0F;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #0F0F0F;
    height: 7vh;
    padding: 1vh 1vw 0vh 15vw;
}
.left-icons{
    display: flex;
    gap: 1vw;
    padding-top: 0.2vh;
}
.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34vw;
    height: 4.6vh;
    padding: 0vh 0vw 0vh 1vw; 
    background-color: #0F0F0F;
    border: 0.2px solid rgba(80, 80, 80, 0.66);
    border-radius: 25px;
    overflow: hidden;
}
.searchbar input{
    border: none;
    background-color: #0F0F0F;
    border-radius: 25px;
    padding: 0;
    font-size: 1rem;
    width: 32vw;
    height: 4.4vh;
}
.searchbar .searchicon{
    background-color: rgba(80, 80, 80, 0.66);
    padding: 1.6vh 0.5vw 1.6vh 0.8vw;
}
.searchbar .searchicon svg{
    color: white;
    height: 8.8vh;
}
nav .audio svg{
    width: 1.4vw;
    color:white;
    background-color: rgba(80, 80, 80, 0.66);
    padding: 0.8vh 0.8vh;
    border-radius: 50%;
}
nav .right-icons{
    display: flex;
    gap: 1vw;
}
nav .right-icons .new{
   padding-top: 0.48vh; 
}
nav .right-icons .new button{
    display: flex;
    gap: 0.38vw;
    background-color: rgba(80, 80, 80, 0.66);
    color: white;
    border: 0;
    outline: 0;
    border-radius: 18px;
    padding: 1.18vh 1.4vw;
    font-weight: 600;
    align-items: center;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
}
nav .right-icons .new button:hover{
    cursor: pointer;
}
nav .right-icons .new svg{
    width: 1vw;
}
nav .right-icons .notification svg{
    width: 1.98vw;
    padding-top: 0.48vh;
}
nav .right-icons .account img{
    width: 1.8vw;
    padding-top: 0.4vh;
    border-radius: 50%;
}
.unfixed-head{
    padding: 8vh 0vw 0vh 4vw;
    gap: 4vh;
}
.unfixed-head .banner{
    width: 1150px;
    border-radius: 12px;
}
.unfixed-head .profile-details{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.unfixed-head .profile-details img{
    border-radius: 50%;
    height: 20vh;
}
.unfixed-head .profile-details .details{
    gap: 1vh;
    padding: 0vh 0vw 0vh 0.2vw;
}
.unfixed-head .profile-details h2{
    font-size: 2rem;
}
.unfixed-head .profile-details p{
    font-size: 0.9rem;
}
.unfixed-head .profile-details a{
    font-size: 0.9rem;
}
.unfixed-head .profile-details .tagname{
    display: flex;
    gap: 0.5vw;
    align-items: center;
}
.unfixed-head .profile-details .tagname svg{
    color: white;
}
.unfixed-head .profile-details .linkname{
    display: flex;
    gap: 0.4vw;
    cursor: pointer;
}
.unfixed-head .profile-details .linkname svg{
    color: rgb(53, 156, 204);
}
.unfixed-head .profile-details .buttonHover{
    display: flex;
    padding-top: 0.8vh;
    gap: 0.5vw;
}
.unfixed-head .profile-details .buttonHover svg{
    color: white;
    width: 1.8vw;
    height: 3.2vh;
}
.unfixed-head .profile-details .buttonHover button{
    display: flex;
    gap: 0.38vw;
    background-color: rgba(80, 80, 80, 0.66);
    color: white;
    border: 0;
    outline: 0;
    border-radius: 18px;
    padding: 1vh 1vw;
    align-items: center;
}
.unfixed-head .profile-details .buttonHover button p{
    font-size: 0.86rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.stick{
    display: flex;
    gap: 1vw;
    position: sticky;
    top: 6vh;
    z-index: 100;
    background-color: #0F0F0F;
    align-items: center;
    padding: 3vh 0vw 0vh 4vw;
    border-bottom: 0.2px solid rgb(99, 98, 98);
}
.stick a{
    padding-bottom: 2.3vh;
    font-weight: 400;
}
.stick a:first-child{
    padding-bottom: 1.8vh;
    border-bottom: 3.6px solid white;
    margin-bottom: 0;
}
.stick svg{
    width: 2vw;
    height: 3vh;
    padding-bottom: 2vh;
}
main .context{
    padding-left: 4vw;
}
main .context .members{
    padding: 2.6vh 0vw 2.2vh 0vw;
    display: flex;
    justify-content: space-between;
    width: 1150px;
    border-bottom: 0.2px solid rgb(99, 98, 98);
}
main .context .members .text{
    gap: 0.2vh;
}
main .context .members .text .white{
    font-size: 0.95rem;
}
main .context .members .text .grey{
    font-size: 0.89rem;
}
main .context .members .bgroup{
    display: flex;
    gap: 2vw;
}
main .context .members .bgroup .imgprofile{
    display: flex;
    gap: 0.8vw;
    align-items: center;
}
main .context .members .bgroup img{
    width: 2vw;
    border-radius: 50%;
}
main .context .members .bgroup button{
    border: 0;
    background-color: #0F0F0F;
    padding: 1.2vh 0.89vw;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    outline: 0;
    border: 0.3px solid rgb(99, 98, 98);
    border-radius: 18px;
}
main .context .foryou{
    padding: 2vh 0vw;
    gap: 2.6vh;
}
main .context .foryou .videos{
    display: flex;
    gap: 0.4vw;
    padding-bottom: 3vh;
    width: 70vw;
    border-bottom: 0.3px solid rgb(99, 98, 98);
}
main .context .foryou .video{
    gap: 0.4vh;
    width: 22vw;
}
main .context .foryou .video img{
    width: 22vw;
    border-radius: 12px;
}
main .context .foryou .video .headtext{
    display: flex;
    justify-content: space-between;
    padding-left: 0.1vw;
}
main .context .foryou .video .headtext .txt{
    font-size: 0.86rem;
    font-weight: 500;
    line-height: 2.4vh;
}
main .context .foryou .video .subtext{
    font-size: 0.8rem;
    padding-left: 0.1vw;
}
main .context .foryou .videos .arrow{
    display: flex;
    border-radius: 50%;
    background-color: rgb(33, 33, 33);
    color: white;
    height: 5vh;
    width: 5vh;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    position: relative;
    top: 10vh;
    right: 4.34vh;
}
main .context .viral{
    padding: 2vh 0vw;
    gap: 2.6vh;
}
main .context .viral .viralVideo{
    display: flex;
    gap: 0.1vw;
    padding-bottom: 3vh;
    width: 70vw;
    border-bottom: 0.3px solid rgb(99, 98, 98);
}
main .context .viral .viralVideo .video{
    width: 13.3vw;
    gap: 0.4vh;
}
main .context .viral .viralVideo .video img{
    width: 13vw;
    height: 15vh;
}
main .context .viral .viralVideo .video .headtext{
    display: flex;
    justify-content: space-between;
}
main .context .viral .viralVideo .video .headtext .txt{
    font-size: 0.8rem;
    font-weight: 600;
}
main .context .viral .viralVideo .video .subtext{
    font-size: 0.7rem;

}
.dots{
    width: 2.6vw;
    height: 3.5vh;
    color: white;
}