@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Bitcount+Ink:wght@100..900&family=Black+Ops+One&family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Pliant:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
}
.pliant{
    font-family: "Pliant", sans-serif;
}
.poppins{
    font-family: "Poppins", sans-serif;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.lato{
    font-family: "Lato", sans-serif;
}
.flex-column{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
nav{
    display: flex;
    width: 80vw;
    height: 20%;
    position: fixed;
}
.symbol{
    height: 15vh;
    width: 15vw;
}
nav .dashboard{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 4vh;
    padding: 4vh 3vw;
    /* background-color: rgba(245, 245, 245, 0.705); */
    background-color: white;
    outline: 0;
    border-left: 0.8px solid rgb(195, 193, 193);
    border-bottom: 0.8px solid rgb(195, 193, 193);
    box-shadow: 0px 0px 0.8px 0.8px solid rgb(195, 193, 193);
}
nav .dashboard .icons{
    display: flex;
    gap: 1.2vw;
}
nav .dashboard p{
    font-weight: 600;
}
nav .dashboard .icons .diamond{
    display: flex;
    gap: 0.3vw;
    background-color: rgba(194, 234, 247, 0.66);
    border: 0.5px solid lightblue;
    border-radius: 18px;
    padding: 0.4vh 0.8vw;
}
.blue{
    color: blue;
}
.bell{
    padding-top: 0.4vh;
}
.whole{
    height: 100vh;
}
.grey{
    color: grey;
}
nav .dashboard .icons svg{
    width: 2vw;
    height: 3vh;
}
nav .dashboard .icons .dashicons {
    display: flex;
    gap: 0.8vw;
}
nav .dashboard .icons .dashicons img{
    height: 4.5vh;
    width: 2.2vw;
    border-radius: 50%;
}
nav .dashboard .icons .dashicons p{
    padding-top: 0.4vh;
    font-size: 0.9rem;
    font-weight: 600;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
}
main .sidebar{
    width: 20%;
    height: 100vh;
    gap: 0.8vh;
    padding: 0vh 0vw 0vh 0vw;
    overflow-y: scroll;
}
main .hero-section{
    width: 80%;
    height: 100vh;
    padding: 0vh;
    overflow-y: scroll;
}
main .sidebar .dashim{
    display: flex;
    gap: 0.8vw;
    padding: 2vh 0vw 2vh 3vw;
    background-color: whitesmoke;
}
main .sidebar .dashim .text-content p{
    font-weight: 600;
}
main .sidebar .dashim .text-content .account{
    font-size: 0.8rem;
}
main .sidebar .dashim img{
    width: 2.5vw;
    border-radius: 12px;
}
main .sidebar .overview{
    padding: 2vh 0vw 2vh 3vw;
    gap: 0.95vh;
}
main .sidebar .overview .tag{
    font-size: 0.9rem;
    font-weight: 700;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
main .sidebar .overview button{
    display: flex;
    gap: 1vw;
    border: 0;
    outline: 0;
    width: 15vw;
    padding: 1vh 0.8vw;
}
main .sidebar .overview .dashboard{
    background-color: #540599;
    color: white;
    border-radius: 12px;
}
main .sidebar .overview button svg{
    width: 1.5vw;
}
main .sidebar .overview .backgrey{
    background-color: #ffffff;
}
main .sidebar .overview button p{
    padding-top: 0.5vh;
    font-size: 0.9rem;
}
main .sidebar .overview .profile{
    padding-bottom: 4vh;
}
main .sidebar .overview .portal{
    border-top: 1px solid rgb(214, 212, 212);
    padding-top: 5vh;
}
main .sidebar .overview .signout,.sign{
    color: red;
}
main .hero-section .hero{
    display: flex;
    padding: 15vh 3vw 0vh 3vw;
    gap: 0.5vh;
    justify-content: space-between;
}
main .hero-section .row{
    display: flex;
    gap: 1vw;
    padding: 1vh 1vw 1vh 2vw;
}
main .hero-section .row .child{
    display:flex;
    width: 10vw;
    border-radius: 12px;
    border: 1px solid rgb(214, 212, 212);
    padding: 6vh 1vw;
    height: 7vh;
    justify-content: space-between;
}
main .hero-section .row .child svg{
    width: 2vw;
    height: 5vh;
}
main .hero-section .row .child .cols{
    gap: 0.8vh;
}
main .hero-section .row .child .video{
    color: darkgreen;
    background-color: greenyellow;
    border-radius: 50%;
    padding: 0.5vh 0.5vw;
}
main .hero-section .row .child .book{
    color: blue;
    background-color: lightblue;
    border-radius: 50%;
    padding: 0.5vh 0.5vw;
}
main .hero-section .row .child .gem{
    color: orange;
    background-color: rgb(232, 231, 231);
    border-radius: 50%;
    padding: 0.5vh 0.5vw;
}
main .hero-section .row .child .academic{
    background-color: rgb(232, 231, 231);
    border-radius: 50%;
    padding: 0.5vh 0.5vw;
}
main .hero-section .row .child .cols h4{
    font-size: 1.2rem;
}
main .hero-section .container{
    display: flex;
}
main .hero-section .container .bar {
    height: 100%;
    padding-bottom: 0;
}
main .hero-section .container .bar .child{
    display: flex;
    gap: 0.7vw;
    border: 1px solid rgb(188, 186, 186);
    border-radius: 12px;
    padding: 1.5vh 0.6vw ;
}
main .hero-section .container .bar .child .cols{
    gap: 0.8vh
}
main .hero-section .container .bar .child .cols h5{
    color: #540599;
    font-size: 0.8rem;
}
main .hero-section .container .bar .child .cols p{
    font-weight: 750;
    font-size: 0.88rem;
}
main .hero-section .container .bar .child img{
    height: 11vh;
    border-radius: 12px;
}
main .hero-section .container .bar .content{
    display: flex;
    gap: 3.5vw;
}
main .hero-section .container .bar .content .skills{
    font-weight: 600;
}
main .hero-section .container .bar .content .library{
    color: #540599;
    font-weight: 600;
    font-size: 0.85rem;
}