@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Bitcount+Ink:wght@100..900&family=Black+Ops+One&family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Pliant:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
}
.pliant{
    font-family: "Pliant", sans-serif;
}
.poppins{
    font-family: "Poppins", sans-serif;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.lato{
    font-family: "Lato", sans-serif;
}
.flex-column{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
nav a{
    text-decoration: none;
}
nav{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 3vh 5vw 1vh 5vh; 
    font-size: 2vh;
    border-bottom: 2px solid whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: white;
    box-sizing: border-box; 
}
.nav-links{
    display: flex;
}
.logo-CSS{
    display: flex;
    gap: 0.8vw;
}
.logo-CSS h3{
    font-size: 25px;
    color: rgb(64, 64, 221);
}
.logo-CSS img{
    height: 4vh;
}
.links{
    display: flex;
    list-style: none;
    gap: 2vw;
    padding-top: 0.4vh;
}
.links li a{
    text-decoration: none;
    color: #000000;
    word-spacing: 0.3vw;
}
.dashboard{
    display: flex;
    gap:0.8vw;
}
.path{
    font-size: 1.5vh;
    padding-bottom: 1vh;
    color: grey;
}
.dashboard img{
    height: 4.5vh;
    border-radius: 8px;
}
.hero-section{
    padding: 8vh 12vw 8vh 5vw;
    display: flex;
    justify-content: space-between;
}
.hero-section h1{
    padding-top: 9vh;
}
.grey{
    color: grey;
}
.hero-section img{
    border-radius: 20px;
    height: 60vh;
}
.searchbar{
    display: flex;
    gap: 1vw;
}
.bar{
    border: 1px solid rgb(216, 212, 212);
    min-width: 30vw;
    display: flex;
    border-radius: 5px;
}
.bar svg{
    height: 3vh;
    width: 3vw;
    padding-top: 1vh;
    padding-left: 0vw;
}
.searchbar input{
    width: 35vw;
    height: 5vh;
    padding: 0.4vh 1vw;
    border: 0px;
}
.border{
    border-radius: 10px;
    border: 0;
    outline: 0;
}
.searchbar button{
    width: 5.5vw;
    height: 5.8vh;
    padding: 0.4vh 1vw;
    background-color: #540599;
    color: white;
    font-size: 1.95vh;
}
.discount{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: #540599;
    color: #ffffff;
    padding: 2vh 1vw 1vh;
}
.discount button{
    height: 5vh;
    padding: 0.2vh 1.5vw;
    align-self: center;
    background-color: #ffffff;
    color: #540599;
}
.discount .details button{
    backdrop-filter: blur(15px);
    outline: 0;
    background: rgba(107, 42, 164, 0.24);
    border: 1px solid rgba(255,255,255,0.1);
    /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); */
    border-radius: 16px;
    color: #ffffff;
    margin-bottom: 1.3vh;
}
.discount .claim{
    font-weight: 600;
}
.categories .content{
    display: flex;
    justify-content: space-between;
}
.categories .content a{
    text-decoration: none;
    color: #540599;
    font-size: 0.8rem;
}
.categories .types{
    display: flex;
    gap: 0.7vw;
}
.categories .types .typo{
    display: flex;
    gap: 1vw;
    border: 0.5px solid rgba(206, 205, 205, 0.874);
    padding: 1vh 1.5vw;
    border-radius: 30px;
    background-color: rgba(246, 244, 244, 0.696);
}
.categories .types .typo .content{
    display: flex;
    flex-direction: column;
}
.categories .types .typo .icon{
    width: 3vh;
    border-radius: 50%;
    padding-top: 0.3rem;
}
.typo .topic{
    font-size: 0.9rem;
}
.typo .delay{
    font-size: 0.78rem;
}
.courses{
    background-color: whitesmoke;
    padding: 3vh 5vw 5vh 5vw;
    width: auto;
}
.courses .types{
    display: flex;
    justify-content: space-between;
}
.types .module{
    border: 1px solid rgb(218, 216, 216);
    border-radius: 30px;
    width: 20vw;
}
.types .module img{
    width: 20vw;
    background-size: cover;
    border-radius: 8px;
}
.types .module .content{
    gap: 1vh;
    padding: 0vh 1.5vw 3vh 1.5vw;
}
.module .fname{
    color: rgb(255, 153, 0);
    font-size: 0.65rem;
    font-weight: 500;
}
.module .content strong{
    font-size: 0.85rem;
}
.font-small{
    font-size: 0.7rem;
}
.module .content .rating{
    font-size: 0.8rem;
}
.content .price .offers{
    display: flex;
    gap: 0.5vw;
}
.content .price{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(200, 198, 198);
    padding-top: 3vh;
}
.content .price .strike{
    padding-top: 0.7vh;
    font-size: 0.69rem;
    font-weight: 600;
}
.price .offers button{
    background-color: rgba(199, 246, 129, 0.548);
    color: darkgreen;
    border-radius: 5px;
    border: 1px solid darkgreen;
    font-size: 0.78rem;
    font-weight: 600;
}
.module a{
    text-decoration: none;
    color: #540599;
    font-size: 0.95rem;
}
.compiler{
    border-top: 1px solid rgb(200, 198, 198);
    background-color: whitesmoke;
    padding: 3vh 5vw 1vh 5vw;   
}
.compiler .heading{
    gap: 1vh;
}
.compiler .content{
    display: flex;
    justify-content: space-between;
}
.compiler .content a{
    text-decoration: none;
    align-self: flex-end;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.lang{
    padding-bottom: 3vh;
}
.lang .row{
    display: flex;
    gap: 2vw;
}
.lang .row .child{
    min-width: 4.95vw;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    gap: 0.8vh;
    padding: 1vh 2vw 2vh 2.4vw;
}
.lang .row .child img{
    width: 5vw;
    border-radius: 50%;
}
.lang .row .child p{
    font-size: 0.6rem;
    font-weight: 600;
}
.interact{
    border-top: 1px solid rgb(200, 198, 198);
}
.fame{
    align-items: center;
    padding: 10vh 3vw;
}
.fame h2{
    font-size: 2.8rem;
}
.purple{
    color:#540599;
}
.buttons{
    width: 85vw;
    display: flex;
    align-items: center;
}
.interact .tutorials .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}
.buttons button{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.buttons button img{
    height: 3.5vh;
}
.buttons button strong{
    padding-top: 1vh;
}
.tutorials .buttons button{
    padding: 2vh 4vw;
    border-radius: 10px;
    outline: 0;
    background: #ffffff;
    border: 0.5px solid rgb(200, 198, 198);
} 
.wall .achievers{
    display: flex;
    width: 80vw;
    gap: 2vw;
}
.wall .achievers .child{
    min-width: 15vw;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.5px solid rgb(200, 198, 198);
    align-items: center;
    text-align: center;
    gap: 1vh;
    padding: 1vh 1.5vw 3vh 1.5vw; 
}
.achievers .child img{
    border-radius: 50%;
}
.achievers .child h5{
    font-size: 1.2rem;
}
.achievers .child button{
    outline: 0;
    border-radius: 20px;
    padding: 1vh 0.6vw;
    font-weight: 600;
    border: 1px solid #8206ef ;
    background-color: #cf97ff;
    color: #540599;
}
.achievers .child em{
    font-weight: 800;
    font-size: 0.89rem;
    word-spacing: 0.2rem;
}
footer{
    border-top: 1px solid rgb(200, 198, 198);
}
footer .content{
    padding: 5vh 8vw;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
footer .content .child{
    width: 19%;
}
footer .content .child img{
    height: 5vh;
}
footer .content .child p{
    font-size: 0.85rem;
}
footer .content .child .media{
    width: 13vw;
    height: 6vh;
}
footer .content .child strong{
    padding-left: 2.5vw;
}
footer .content .child ul{
    list-style: none;
    gap: 0.8rem;
}
footer .content .child ul li a{
    text-decoration: none;
    font-size: 0.85rem;
    color: grey;
}
.info{
    border-top: 1px solid rgb(200, 198, 198);
    padding: 5vh 8vw;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}
.info .contact{
    display: flex;
    gap: 3vw;
}
.email{
    display: flex;
    gap: 0.5vw;
}
.email img{
    height: 2vh;
}
footer .address{
    padding: 1vh 8vw;
    font-size: 0.8rem;
    gap: 0.6rem;
}
@media (min-width: 576px) and (max-width: 768px){

}